<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kovapps.kovalev.psytests">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8407125762950584~6538583611" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.result.OneScaleResultActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.result.MaslachResultActivity" />
        <activity android:name=".ui.result.ThreeScalesResultActivity" />
        <activity android:name=".ui.test.LusherActivity" />
        <activity android:name=".ui.result.OstResultActivity" />
        <activity android:name=".ui.test.BaseActivity" />
        <activity android:name=".ui.result.BassResultActivity" />
        <activity android:name=".ui.result.LuscherResultActivity" />
        <activity android:name=".ui.result.FiveScalesResultActivity" />
        <activity android:name=".ui.result.TestDescriptionActivity" />
        <activity android:name=".ui.test.SondiActivity" />
        <activity android:name=".ui.result.SondiResultActivity" />
    </application>

</manifest>